<div class='bg-light'>
  <ul class='hero-icons'>
    <li>
      <i class='devicons ds-docker text-2xl'></i>
    </li>
    <li>
      <i class='devicons ds-vuejs text-4xl'></i>
    </li>
    <li>
      <i class='devicons ds-figma text-xl'></i>
    </li>
    <li>
      <i class='devicons ds-netlify text-2xl'></i>
    </li>
    <li>
      <i class='devicons ds-googlecloud text-xl'></i>
    </li>
    <li>
      <i class='devicons ds-html5 text-3xl'></i>
    </li>
    <li>
      <i class='devicons ds-css3 text-xl'></i>
    </li>
    <li>
      <i class='devicons ds-javascript text-4xl'></i>
    </li>
    <li>
      <i class='devicons ds-github text-4xl'></i>
    </li>
    <li>
      <i class='devicons ds-devtotext-2xl'></i>
    </li>
  </ul>
  <div class='min-h-screen flex w-screen justify-between items-center relative'>
    <div class='block mx-auto max-w-3xl break-words -mt-12 absolute left-0 right-0 px-8'>
      <h1 class='font-bold text-xl tracking-tight'>
        Olá, tudo bem?!
      </h1>
      <h2 class='font-ubuntu font-bold text-5xl my-2'>
        Sou
        <span class='text-primary'>Bruno de Araújo Alves</span>
      </h2>
      <h3 class='text-base text-justify'>
        Tenho 21 anos,
        estudante de
        <a target='_blank' href='https://computacaoifg.com.br' rel='noopener' class='text-primary link-dark'>Ciência
          da Computação</a> e procuro sempre aprender algo novo.
        Comecei na computação aos 16 anos e ao longo da minha jornada criei alguns projetos e adquiri um
        conhecimento
        que acredito que deve ser compartilhado com outros.
        <br />
        Sou <span class='text-primary'>Desenvolvedor Web Full Stack</span>,
        tenho experiência em NodeJS, VueJS,
        Python entre outras linguagens e frameworks.
        Espero que goste!
      </h3>
      <div class='flex justify-end mt-2'>
        <a href='https://resume.baraus.dev/resume.pdf' download target='_blank' rel='noreferrer'
           class='py-2 px-8 h-full bg-dark text-light col-start-2 transition-all duration-200 ease-in hover:bg-primary' title='Faça download do meu resume'>Resume</a>
      </div>

    </div>
  </div>
</div>
