<!-- PROJECTS -->
<section class='container pt-6 mb-12 relative border-t-1 border-gray-light border-opacity-10'>
  <div class='section-header flex flex-row justify-between items-center text-gray-light'>
    <h5 id='articles' class='font-ubuntu font-bold text-3xl leading-loose relative text-primary'>Projetos</h5>
    <a href='#'  target='_self'>Ver mais</a>
  </div>
  <div class='card-grid'>
    {# {{ articles | log }} #}
    {% for project in projects %}
      {{ macro.card(project, 'project', '/projects/') }}
    {% endfor %}
  </div>
</section>

<!-- SIDES -->
<section class='container pt-6 mb-12 relative border-t-1 border-gray-light border-opacity-10'>
  <div class='section-header flex flex-row justify-between items-center text-gray-light'>
    <h5 id='articles' class='font-ubuntu font-bold text-3xl leading-loose relative text-primary'>Projetos Pessoais</h5>
    <a href='#'  target='_self'>Ver mais</a>
  </div>
  <div class='card-grid'>
    {# {{ articles | log }} #}
    {% for side in sides %}
      {{ macro.card(side, 'side', '/sides/') }}
    {% endfor %}
  </div>
</section>
