<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
  <title>{{ title }} | DevBaraus</title>
  <meta name='author' content='Bruno de Araújo Alves'>
  <meta name='robot' content='index, follow'>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel='stylesheet'
        href='https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@700&display=swap'>
  {% block head %}{% endblock %}
  <script src="/js/main.js" defer></script>
</head>
<body class="{{ 'debug-screens' if env.devMode }}">
{% include 'header.njk' %}
{% block body %}
  {{ content | safe }}
{% endblock %}
{% include 'footer.njk' %}
<div
  id="copy-message"
  style='left: calc(50vw - 6rem);'
  class="fixed flex h-16 w-48 -top-24 justify-center items-center cursor-pointer transition-all duration-200 ease-in bg-dark z-50 rounded-b"
>
</div>
</body>
</html>
