<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="/js/main.js" defer></script>
  <title>{{ title }} | DevBaraus</title>
  <meta name='author' content='Bruno de Araújo Alves'>
  <meta name='robot' content='index, follow'>
  <link rel='stylesheet'
        href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Ubuntu:wght@700&display=swap'>
  {% block head %}{% endblock %}
  <script src='/js/lazysizes.min.js'></script>
</head>
<body class="{{ 'debug-screens' if env.devMode }}">
{% include 'header.njk' %}
{% block body %}
  {{ content | safe }}
{% endblock %}
{% include 'footer.njk' %}

{# <script src='js/hotjar.js'></script> #}
{# <script src='https://unpkg.com/@codersrank/activity@0.9.14/codersrank-activity.min.js'></script> #}
</body>
</html>
