{% macro card(object, type, route) %}
  <article class='bg-light text-white shadow-lg relative flex flex-col justify-between'>
    <div class='relative p-0'>
      {% if type != 'repo' %}
        <a href='{{ route }}{{ object.title | slug }}'  target='_self'>
          <img
            srcset='{{ object.cover.formats.medium.url }} {{ object.cover.formats.medium.width }}w,  {{ object.cover.formats.small.url }} {{ object.cover.formats.small.width }}w, {{ object.cover.formats.thumbnail.url }} {{ object.cover.formats.thumbnail.width }}w'
            src='{{ object.cover.url }}'
            loading='lazy'
            class='w-full h-48 object-cover transition-all duration-200 ease-in cursor-pointer hover:opacity-75'
            alt=''>
        </a>
      {% endif %}
      <a href='{{ route }}{{ object.title | slug }}/'
         target='_self'
         class='p-4 w-full flex justify-between p-4 bg-primary transition-all duration-200 ease-in cursor-pointer hover:opacity-75'>
        <p>
          {{ object.title }}
        </p>
      </a>
    </div>
    {% if ['article', 'repo'].includes(type) %}
      <div class='p-4 w-full h-full'>
        {{ object.description | markdown | safe }}
      </div>
    {% endif %}
    <div class='p-4 flex h-16 items-center'>
      {% for tag in object.tags %}
        <i title='{{ tag }}' class='text-xl mr-2 devicons ds-{{ tag }}'></i>
      {% endfor %}
    </div>
  </article>
{% endmacro %}

{% macro suggestions(suggestions, type, route) %}
  <section class='container pt-6 mb-12 relative border-t-1 border-gray-light border-opacity-10'>
    <div class='section-header flex flex-row justify-between items-center text-gray-light'>
      <h5 id='articles' class='font-ubuntu font-bold text-3xl leading-loose relative text-primary'>Sugestões</h5>
    </div>
    <div class='card-grid grid-suggestions'>
      {{ card(suggestions[0], type, route) }}
      <div
        class="flex justify-center flex-col items-center text-gray-light text-center px-4 h-full"
      >
        <h6 class="text-2xl mb-8">
          {% if type == 'repo' %}
            Veja meus outros repositórios
          {% elseif type == 'article' %}
            Veja mais artigos escritos por mim
          {% endif %}
        </h6>
        <a href='{{ route }}' target='_blank' rel='nofollow'
           class='bg-dark px-4 py-2 text-gray-light hover:text-primary text-xl border-1 border-gray-light hover:border-primary'>
          <i class='feather feather-compass mr-2'></i> Ver mais
        </a>
      </div>

      {{ card(suggestions[1],  type, route) }}
    </div>
  </section>
{% endmacro %}

{% macro stickyDev(profile) %}
  <a href='{{ profile.url }}'
     target='_self'
     class='absolute top-0 right-0 hover:text-primary transition-colors ease-in duration-200'>
    <small class='text-xs font-light'>
      <i class='devicons ds-devto text-xl'></i>
    </small>
  </a>
  <img src='{{ profile.avatar }}' alt='' class='rounded-full h-56 w-56 ring-dark shadow mb-2 mx-auto'>
  <a href='{{ profile.url }}'
     target='_self'
     class='font-semibold text-lg hover:text-primary transition-colors ease-in duration-200'>{{ profile.name }}</a>
  <a href='{{ profile.url }}'
     target='_self'
     class='hover:text-primary transition-colors ease-in duration-200'><small
      class='font-light text-sm'>{{ profile.username }}</small></a>
  <hr class='border-dark border-opacity-10 my-4 px-4'>
  <p class='text-base bold'>{{ profile.bio }}</p>
  <p><small class='text-sm font-light'><a href='{{ profile.url }}' target='_self'
                                         class='hover:text-primary transition-colors ease-in duration-200'><i
          class='feather feather-star mr-2'></i>{{ profile.reactions }}&nbsp;reações</a>
    </small>
  </p>
  <p><a href='{{ profile.url }}' class='hover:text-primary transition-colors ease-in duration-200'
    target='_self'>
      <small class='text-sm font-light'>
        <i class='feather feather-edit-3 mr-2'></i>
        {{ profile.articles }}&nbsp;artigos publicados
      </small>
    </a>
  </p>
{% endmacro %}

{% macro stickyGithub(profile) %}
  <a href='{{ profile.url }}'
     class='absolute top-0 right-0 hover:text-primary transition-colors ease-in duration-200'  target='_self'>
    <small class='text-xs font-light'>
      <i class='devicons ds-github text-lg'></i>
    </small>
  </a>
  <img src='{{ profile.avatar }}' alt='' class='rounded-full h-56 w-56 ring-dark shadow mb-2 mx-auto'>
  <a href='{{ profile.url }}'
     class='font-semibold text-lg hover:text-primary transition-colors ease-in duration-200'  target='_self'>{{ profile.name }}</a>
  <a href='{{ profile.url }}'  target='_self'><small
      class='font-light text-sm hover:text-primary transition-colors ease-in duration-200'>{{ profile.username }}</small></a>
  <hr class='border-dark border-opacity-10 my-4 px-4'>
  <p class='text-base bold'>{{ profile.bio }}</p>
  <p><small class='text-sm font-light'><a href='{{ profile.url }}?tab=followers'  target='_self'
                                         class='hover:text-primary transition-colors ease-in duration-200'><i
          class='feather feather-users mr-2'></i>{{ profile.followers }}&nbsp;seguidores</a>&nbsp;·&nbsp;<a
        href="{{ profile.url }}?tab=following"
        class='hover:text-primary transition-colors ease-in duration-200'>{{ profile.following }}
        &nbsp;seguindo</a></small>
  </p>
  <p><a href='{{ profile.url }}?tab=repositories'  target='_self'
        class='hover:text-primary transition-colors ease-in duration-200'>
      <small class='text-sm font-light'>
        <i class='feather feather-git-commit mr-2'></i>
        {{ profile.repos }}&nbsp;repositórios
        públicos
      </small>
    </a>
  </p>
{% endmacro %}

{% macro individual(object, type, profile) %}
  <div class='bg-gray-light pt-12'>
    {% if type != 'repo' %}
      <div class='bg-dark {{ 'h-64' if type == 'article' }}'>
        <div class='container-fluid flex items-center justify-center h-full'>
          <img
            srcset='{{ object.cover.formats.medium.url }} {{ object.cover.formats.medium.width }}w,  {{ object.cover.formats.small.url }} {{ object.cover.formats.small.width }}w, {{ object.cover.formats.thumbnail.url }} {{ object.cover.formats.thumbnail.width }}w'
            src='{{ object.cover.url }}' class='object-cover h-full' alt=''>
        </div>
      </div>
    {% endif %}
    <div class='container text-dark pb-8 '>
      <div class='md:flex justify-between items-baseline mt-8'>
        <div class='md:w-8/12'>
          <h2 class='text-3xl md:text-4xl font-bold break-words'>{{ object.title }}</h2>
          <span class='break-words'>
            {{ object.description | markdown | safe }}
          </span>
          <div class='mt-4 flex items-center'>
            {% if type == 'article' %}
              <span title='{{ object.reactions }} pessoas curtiram este post'>
            <i class='feather feather-star'></i> {{ object.reactions }}
          </span>
              <span class="opacity-50 text-primary mx-2">|</span>
              <span
                title='Aproximadamente {{ object.time }} minutos de leitura'>
            <i class='feather feather-book-open'></i>&nbsp;{{ object.time }}&nbsp;min
          </span>
            {% elseif type == 'repo' %}
              <span title='{{ object.stargazers_count }} pessoas curtiram este repositório'>
            <i class='feather feather-star'></i> {{ object.stargazers_count }}
          </span>
            {% endif %}
            {% if object.tags.length > 0 %}
              <span class="opacity-50 text-primary mx-2">|</span>
            {% endif %}
            {% for tag in object.tags %}
              <i
                class="text-2xl devicons ds-{{ tag }} mr-2"
              ></i>
            {% endfor %}
          </div>
        </div>
        <div
          class="mt-8 md:m-0 md:w-4/12 md:flex md:justify-end"
        >
          <a href='{{ object.url }}' target='_blank' rel='nofollow'
             class='bg-dark px-4 py-2 text-gray-light hover:text-primary'>
            {% if type == 'article' %}
              Acessar artigo
            {% elseif type == 'repo' %}
              Acessar repositório
            {% endif %}
          </a>
        </div>
      </div>
      <div class='flex w-full flex-wrap md:flex-nowrap mt-8'>
        <div class='md:w-8/12 2xl:w-9/12 prose max-w-none w-full'>
          {{ object.content | markdown | safe }}
        </div>
        <div class='mt-8 md:m-0 md:w-4/12 2xl:w-3/12 sticky h-full flex top-24 flex flex-col relative md:pl-4'>
          {% if type == 'repo' %}
            {{ stickyGithub(profile) }}
          {% elseif type == 'article' %}
            {{ stickyDev(profile) }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
