---
formatteroff: true
pagination:
  data: articles
  size: 1
  alias: article
permalink: "articles/{{ article.title | slug }}/"
formatteron: true
---
{% set title = article.title %}
{% set description = article.description %}
{% set keywords = ['artigo', 'programação', 'aprendizado', 'tutorial', 'dev', 'devcommunity', 'público'] | merge(article.tags) | join %}
{% set oglarge = article.cover.url | ext('png') %}
{% extends "layout.njk" %}
{% import 'macros.njk' as macro %}


{% block body %}
  {{ macro.individual(article, 'article', profiles.dev) }}
  <!-- SUGGESTIONS -->
  {{ macro.suggestions(article.suggestions, 'article', '/articles/') }}
{% endblock %}


