---
formatteroff: true
pagination:
  data: repos
  size: 1
  alias: repo
permalink: "repos/{{ repo.title | slug }}/"
formatteron: true
---
{% set title = repo.title %}
{% set description = repo.description %}
{% set keywords = ['repositório', 'github', 'público', 'programação', 'desenvolvimento'] | merge(repo.tags) | join %}
{% extends "layout.njk" %}
{% import "macros.njk" as macro %}

{% block body %}
  {{ macro.individual(repo, 'repo', profiles.github) }}

  <!-- SUGGESTIONS -->
  {{ macro.suggestions(repo.suggestions, 'repo', '/repos/') }}
{% endblock %}


