---
formatteroff: true
pagination:
  data: projects
  size: 1
  alias: project
permalink: "projects/{{ project.title | slug }}/"
formatteron: true
---
{% set title = project.title %}
{% set description = project.description %}
{% set keywords = ['projeto', 'programação', 'desenvolvimento'] | merge(project.tags) | join %}
{% set oglarge = project.cover.url | ext('png') %}
{% extends "layout.njk" %}
{% import "macros.njk" as macro %}

{% block body %}
  {{ macro.individual(project, 'project', {url: project.url, carousel: project.carousel, links: project.links}) }}

  <!-- SUGGESTIONS -->
  {{ macro.suggestions(project.suggestions, 'project', '/projects/') }}
{% endblock %}

